#root {
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  background-color: #703b0a;
  color: #eeeeee;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  border-width: 0px;
  cursor: pointer;
}