.player {
  width: 100%;
  background-color: #e57b5e;
  border-radius: 5px;
  margin: 10px 0px;
  max-width: 100%;
  overflow-x: hidden;;
}

.expandable-title {
  cursor: pointer;
  width: 100%;
  display: grid;
  grid-template-columns: auto 30px;
  grid-template-rows: 1fr;
  border-radius: 5px;
}

.name {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 5px;
  border-radius: 5px;
}

.active {
  background-color: #f3e1dc;
  border: 1px solid #000;
}

.inactive {
  border: 1px solid #000;
}

@keyframes flipOut {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.caret {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 5px;
  animation: flipOut 0.125s ease-in-out;
  border-radius: 5px;
}

@keyframes flipIn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.rotated {
  transform: rotate(180deg);
  animation: flipIn 0.125s ease-in-out;
}

.expandable-title * {
  display: block;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
}

.expandable-content {
  border-radius: 5px;
}

.player-content {
  display: grid;
  grid-template-columns: auto 30px;
  grid-template-rows: 2fr 3fr 2fr;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
}