label {
  min-width: 200px;
  font-size: 30px;
  display: inline-block;
}

input {
  display: inline-block;
  height: 25px;
  min-width: 200px;
  font-size: 30px;
}

#login {
  width: 200px;
  height: 30px;
  margin-top: 20px;
}

.column {
  padding-top: 100px
}